:root {
    --bg-color-base: #0166f2;
    --bg-color-blue-alt: #121B60;

    --ff-base: 'Mosvita', sans-serif;
}

/* body{
    background-color: var(--bg-color-blue-alt);
} */

.bg-primary {
    background-color: var(--bg-color-base);
}

.bg-alt {
    background-color: var(--bg-color-blue-alt);
}

.container-padding {
    padding: 36px;
}
@media(min-width: 1024px) {
    .container-padding {
        padding: 96px 48px;
    }
}


/*  TITULO/s DE SECCION */
.section-title {
    font-family: var(--ff-base);
    font-size: 28px;
    line-height: 127%;

    /* color: white; */
}
/*  SUBTITULO/s DE SECCION */
.section-subtitle {
    font-family: var(--ff-base);
    font-size: 21px;
    line-height: 127%;
}
/* PÁRRAFOS */
.section-text {
    padding: 16px 0;
    font-family: var(--ff-base);
    font-size: 16px;
    font-weight: 600;
}
/* TEXTOS FOOTER */
.section-text-footer {
    font-family: var(--ff-base);
    font-size-adjust: 21px;
    font-weight: 600;
    text-align: center;
    color: white;
}
@media(min-width: 1024px) {
    .section-title {
        font-size: 36px;
    }
    .section-text{
        font-size: 21px;
    }
}

@media(min-width: 1224px){
    .section-title {
        font-size: 52px;
    }
    .section-text{
        font-size: 21px;
    }
}

/* BARRA DIVISORA */
.divider {
    border: 0;
    border: 0;
    height: 1px;
    margin: 24px 0;
    background-color: white;
}
.divider-alt {
    border: 0;
    border: 0;
    height: 1px;
    margin: 24px 0;
    background-color: var(--bg-color-base);
}

/* Marca: Logo */
.brand-short {
    width: 100%;
}
.brand-short img {
    margin: auto;
    width: 100px;
}


/* BARRA NAVEGACION */

.nav-bar {
    background-color: var(--bg-color-base);
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 84px;
    /* transform: translateY(-100%); */
    transition: all ease-in-out .5s;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
.scrolled {
    transform: translateY(0%);
    background-color: rgb(from var(--bg-color-base) r g b / 60%);
    /* Color cuando se hace scroll */
    backdrop-filter: blur(14px);
    transition: all ease-in-out .5s;
}
.nav-bar div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar .brand-header {
    /* width: 150px; */
    height: 42px;
}
.nav-bar .nav-wsp-link {
    right: 16px;
    position: absolute;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.nav-bar .nav-links li {
    font-family: var(--ff-base);
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.nav-bar .nav-links li:hover{
    color: var(--bg-color-blue-alt);
    
}

/* HERO */
.hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color-base);
    height: 100dvh;
}
.hero-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.hero-header p {
    width: 276px;
    font-family: var(--ff-base);
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 127%;
    text-align: center;

}
.hero .proactiva-logo {
    width: 275px;
}
.hero .hero-img {
    flex-shrink: 1;
    min-height: 40%;
    display: flex;
    align-items: flex-end;
}
.hero .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* BOTON CONOCE MAS - CTA */
.btn-cta {
    display: flex;
    align-items: center;
    gap: .5rem;

    border: 1px solid white;
    padding: 6px 10px;

    border-radius: 16px;
    background-color: var(--bg-color-base);
    transition: all 0.3s ease;
}
.btn-cta img {
    height: 12px;
}
.btn-cta p {
    z-index: 2;
    margin: 0;
    padding-top: 2px;
    align-self: center;
    width: max-content;

    font-family: var(--ff-base);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: start;
    line-height: 1;

    color: white;
}
.btn-cta:hover {
    border: 1px solid var(--bg-color-blue-alt);
    background-color: var(--bg-color-blue-alt);
    transition: all 0.3s ease;
}
@media(min-width: 1024px) {
    .hero {
        background-color: var(--bg-color-base);
        background: url("../assets/img/hero-img-dsk.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        display: block;
    }

    .hero .hero-header {
        height: 100%;
        margin: auto auto;
        position: relative;
        z-index: 99;
        /* background-color: rgba(0, 0, 0, 0.528);
        backdrop-filter: blur(3px); */
    }

    .hero .proactiva-logo {
        width: 400px;
    }

    .hero .hero-img{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 1;
    }
    
    .hero .hero-img img {
        object-fit: cover;
    }
}


/* SECCION - El verdadero costo de una mala contratación */
.section-impacto {
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-color: white;
    /* background: linear-gradient(174deg, rgba(1, 102, 242, 1) 10%, #121B60 50%); */
}
.section-impacto-content{
    padding: 36px 36px;
}
/* "EL 68% DE LAS EMPRESAS NO DELEGA" */
.card-delegar {
    /* max-width: 300px; */
    background-color: white;
    border-radius: 6px;
    padding: 24px 24px;
    margin: auto;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-delegar h3 {
    margin-left: -3px;
    font-family: var(--ff-base);
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    /* text-align: center; */
    color: var(--bg-color-blue-alt);

}
.card-delegar p {
    font-family: var(--ff-base);
    color: var(--bg-color-base);
    font-weight: 700;
}
.card-delegar span {
    color: var(--bg-color-blue-alt);
    font-weight: 800;
    text-decoration: underline;
}
@media(min-width: 1024px) {
    .section-impacto {
        height: 100dvh;
    }

    .section-impacto-content{
        padding: 0;
        margin: auto;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        height: 100%;

    }

    .section-impacto-header {
        padding: 48px;
        display: flex;
        align-items: center;
        width: 60%;
        margin-right: 0;
        
        /* justify-content: space-between; */
    }
    .card-delegar {
        height: 100%;
        width: 40%;
        margin: 0 0 0 auto;
        border-radius: 0;
    }
    .card-delegar div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;

        position: relative; 
        z-index: 2;
    }

    .card-delegar h3{
        font-size: 64px;
    }
    .card-delegar p{
        font-size: 36px;
    }
}

/* QUE HACEMOS */
.card-que-hacemos {
    /* width: 320px; */
    margin: auto;
    position: relative;
    /* box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.68); */
}
.card-que-hacemos-areas {
    margin-top: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--bg-color-base);
}
@media(min-width: 1024px){
    .section-que-hacemos{
        /* margin-top: -120px; */
        margin-bottom: 25px;
    }
    
    .card-que-hacemos{
        background-color: white;
        padding: 36px;
        position: relative;
        z-index: 9;
        /* width: calc(100% - 96px); */
        width: 100%;
        margin: auto;
        border-radius: 14px;
        box-shadow: -4px -4px 24px -4px rgba(0, 0, 0, 0.575);
    }
    .card-que-hacemos h2{
        width: 22ch;
        margin: auto;
        text-align: center;
    }

    .card-que-hacemos p{
        padding: 8px 0;
    }

    /* .card-que-hacemos div{
        display: flex;
    } */

    /* .card-que-hacemos .text-wrapper{
        width: 50%;
    } */

    .card-que-hacemos-areas{
        padding: 0;
        color: var(--bg-color-base);
    }
    .card-que-hacemos-areas h3{
        text-align: center;
        font-size: 28px;
    }
    .card-que-hacemos-areas ul{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        /* flex-direction: column; */
        gap: .5rem;
    }
}

@media(min-width: 1224px){
    .section-que-hacemos{
        padding: 48px;
        margin: 0;
    }
    .card-que-hacemos{
        max-width: calc(1440px - 96px);
    }
    .card-que-hacemos h2{
        font-size: 48px;
        width: 22ch;
        margin: auto;
        text-align: center;
    }

    /* .card-que-hacemos .text-wrapper{
        display: flex;
        justify-content: space-evenly;
    } */

    .card-que-hacemos .text-wrapper p{
        padding: 8px 16px;
        /* width: 30%; */
        /* text-align: center; */
    }
    /* .card-que-hacemos .text-wrapper p:nth-child(2){
        border-right: 1px solid #0166f2;
        border-left: 1px solid #0166f2;

    } */
}




.list-item-flex {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.list-item-flex p {
    line-height: 124%;
}
.list-item-flex img {
    padding-top: 5px;
    width: 5px;
    height: 15px;
}

/* Seccion Especialistas */
.especialistas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 500px;
}

@media(min-width:1024px){
    .especialistas{
        max-width: 1440px;
        margin: auto;
        position:relative;
        z-index: 1;
        overflow: hidden;
        /* transform-origin: top center; */
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .especialistas div{
        width: 45%;
    }
    .especialistas .selection-list{
        width: max-content;
    }
    .especialistas .divider{
        display: none;
    }
}
/* PCOR - Proceso claro orientado a resultados */
.cards-pcor-wrapper {
    /* padding: 36px 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.card-pcor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Agregado para centrar bien el texto */
    box-shadow: 8px 8px 16px -10px rgba(0, 0, 0, 0.418);
    border-radius: 6px;
    overflow: hidden;
    width: 350px;
    height: 320px;
    /* Un color de fondo base por si la imagen tarda en cargar */
    background-color: #333;
}
.card-pcor>* {
    position: relative;
    z-index: 2;
    /* El contenido (secciones, divs) flota sobre el blur */
}
.card-pcor::before {
    content: "";
    position: absolute;
    inset: 0;
    /* backdrop-filter: blur(2px); */
    /* -webkit-backdrop-filter: blur(2px);  */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

}
.card-pcor-img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Asegura que ocupe todo el alto */
    inset: 0;
    z-index: 0;
}
.card-pcor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que no se deforme la imagen */
    object-position: center;
}
.card-pcor p {
    position: relative;
    z-index: 2;
    /* <--- CLAVE: Encima del blur */
    font-family: var(--ff-base);
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 24px;
    /* text-shadow: 0 2px 4px rgba(0,0,0,0.5); */
}
.card-pcor hr {
    margin-top: 0;
    position: relative;
    z-index: 2;
    width: 200px;
    margin-bottom: 0;
}
@media(min-width: 1024px){
    .section-pcor{
        max-width: 1440px;
        margin: auto;
        /* position: relative; */
        /* z-index: 10; */
        background-color: white; 
        /* Truco: La subimos para que su posición "natural" sea tapando la anterior */
        /* margin-top: -100vh;  */
        /* Aseguramos que tenga al menos el alto de la pantalla */
        /* min-height: 100vh; */
        display: flex;
        align-items: flex-start;
    }
    .section-pcor-header{
        min-width: 30%;
        position: sticky;
        top: 120px;
    }
    .section-pcor .section-title{
        text-align: left;
        font-size: 36px;
        line-height: 200%;
    }
    .section-pcor-header .divider-alt{
        width: 100%;
        height: 2px;
        margin: 16px 0;
    }
    .cards-pcor-wrapper{
        padding: 16px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .card-pcor{
        overflow: visible;
        width: 250px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        width: min-content;
        border-radius: 4px;
        box-shadow: none;
    }
    .card-pcor::before{
        z-index: -99;
        background: transparent;
    }
    .card-pcor-img-wrapper{
        border-radius: 4px;
        height: 503px;
        position: relative;
        overflow: hidden;
        box-shadow: 8px 8px 16px -10px rgba(0, 0, 0, 0.418);
    }

    .card-pcor img{
        object-fit: cover;
    }
    .card-pcor p{
        height: 176px;
        /* width: 100px; */
        padding: 16px 0;
        color:var(--bg-color-base);
        text-align: left;
        font-size: 24px;
        font-weight: 700;
    }
    .card-pcor .divider{
        background-color: var(--bg-color-base);
        height: 2px;
    }
    /* 
    .card-pcor::before{
        z-index: -99;
        background: transparent;
    }
    .card-pcor-img-wrapper{
        position: relative;
    }
    .card-pcor img {
        object-fit: cover;
    }
    .card-pcor p{
        height: 100%;
        padding: 16px 0;
        color:var(--bg-color-base);
        text-align: left;
        font-weight: 700;
    }
    .card-pcor hr{
        height: 4px;
    } */
}
@media(min-width: 1360px){
    .section-pcor{
        justify-content: space-between;
    }
    .section-pcor-header{
        width: 400px;
    }
    .section-pcor .section-title {
        text-align: left;
        font-size: 52px;
        line-height: 137%;
    }

}


/* DESARROLLAMOS TALENTO OPERATIVO */
.section-desarrollamos-talento{
    background-color: var(--bg-color-base);
}

/* Tarjetas de impacto */
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 512px;
    padding: 24px 0;
}

.cards-wrapper img{
    width: 280px;
}

/* .card-impacto {
    max-width: 150px;
    width: 32%;
    padding: 16px 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    border: .5px solid white;
    border-radius: 8px;

    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.269);
    backdrop-filter: blur(14px);
    background-color: rgb(from var(--bg-color-base) r g b / 50%);
}

.card-impacto .card-title{
    font-family: var(--ff-base);
    font-size: 24px;
    font-weight: 700;
    color: white;
    line-height: 1;
}
.card-impacto div {
    height: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.card-impacto p {
    font-family: var(--ff-base);
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 127%;
}

.card-impacto hr {
    width: 50px;
    border: 1px solid white;
    color: white;
} */

@media(min-width: 1024px){
    .section-desarrollamos-talento{
        max-width: 1440px;
        margin: auto;
        position: relative;
        z-index: 9;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .section-desarrollamos-talento article{
        display: flex;
        justify-content: space-between;
    }

    .section-desarrollamos-talento article div{
        width: 48%;
        height: 100%;
    }

    .section-desarrollamos-talento article div:first-child{
        padding: 12px 0;
    }

    .cards-wrapper{
        max-width: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }
    .cards-wrapper img{
        margin: 0;
        width: max-content;
        max-height: 47px;
    }
    /* .card-impacto{
        max-width: none;
        width: 250px;
        padding: 24px 8px;
        box-shadow: none;
    }
    .card-impacto .card-title{
        font-size: 64px;
    }
    .card-impacto p{
        font-size: 24px;
    }
    .card-impacto hr{
        width: 75px;
        border: 2px solid white;
    } */
}


/* Seleccion y fortalecimiento de talento */
@media(min-width:1024px){

    .section-seleccionar-bien{
        max-width: 1440px;
        margin: auto;
        position: relative;
        z-index: 8;
        height: 100dvh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 2.5rem;
    }
    .section-seleccionar-bien article:first-child{
        width: 40%;
    }

    .section-seleccionar-bien article:first-child h2{
        width: 20ch;
    }

    .section-seleccionar-bien article:first-child hr{
        height: 2px;
        margin: 12px 0 2px 0;
    }

     .section-seleccionar-bien ul{
        gap: .2rem;
     }

}


.list-item-center {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 8px 0;
}

.list-item-center p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

.list-item-center .ico-talent {
    width: 25px;
}

/* FOOTER */
.footer-title {
    font-size: 24px;
    padding: 12px 0;
}

.footer-terms-policy {
    display: flex;
    flex-direction: column;

    padding: 16px 0;

    font-size: 21px;
    line-height: 200%;
}

footer ul li {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
    line-height: 174%;
}

footer .footer-entidades-financieras {
    margin: 24px 0;
    max-width: 375px;
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    footer .footer-content{
        display: flex;
        flex-direction: column-reverse;

        align-items: center;
        justify-content: space-between;
    }

    footer .footer-contacto{
        text-align: center;
    }

    footer .footer-contacto ul{
        display: flex;
        gap: 1.2rem;
    }

    footer .footer-terms-policy{
        flex-direction: row;
        gap: 1.2rem;
    }

    footer .footer-entidades-financieras{
        width: 100%;
        margin: auto;
    }
}



/* SECCION SELECCION CON CRITERIO */
.selection-section {
    background-image: url("../img/selection-desk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 550px;
}
.selection-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selection-list:has(.checks) .list-item-flex {
    padding: 4px 0;
}
.selection-list:has(.checks) img {
    padding-top: 0;
    height: auto;
    width: 20px;
}